{% extends "../../store/base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}

{% if request.user.is_authenticated %}
    <script>
        window.location.href = '{% url "account:dashboard" %}';
    </script>
{% endif %}

<style>
    .account-form input {
        border: 2px solid #ccc;
        height: calc(2em + .75rem + 2px);
    }

    .account-form input:focus {
        border-color: #1497ff;
        box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 0px rgba(255, 0, 0, 0.6);
    }
</style>

<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-12">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-12 mx-auto">
                            <form class="account-form p-4 rounded col-lg-8 mx-auto" method="post" action="{% url 'account:pwdreset' %}">
                                <p class="h3 mb-4 font-weight-bold">Forgotten your password?</p>
                                    <p>Enter your e-mail address to obtain a new password.</p>
                                    {% if form.errors %}
                                        <div class="alert alert-primary" role="alert">
                                            Error: Please try again!
                                        </div>
                                    {% endif %}
                                    {% csrf_token %}
                                    <label class="small font-weight-bold">{{ form.email.label}}</label>
                                    {{ form.email }}
                                    <button class="btn btn-primary btn-block py-2 mb-4 mt-5 fw-bold w-100" type="submit"value="Send e-mail">Send e-mail</button>
                                    <p class="text-center"><a href="{% url "account:login" %}">Login</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}