asgiref==3.3.1
astroid==2.4.2
autopep8==1.5.4
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.3
coverage==5.3.1
Django==3.1.4
django-cors-headers==3.5.0
django-countries==7.0
djangorestframework==3.12.1
flake8==3.8.4
flake8-django==1.1.1
flake9==3.8.3.post2
flake9-isort==4.0.2
idna==2.10
isort==5.7.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
Pillow==8.0.1
pycodestyle==2.6.0
pyflakes==2.2.0
pylint==2.6.0
pytz==2020.4
requests==2.25.1
six==1.15.0
sqlparse==0.4.1
stripe==2.55.2
testfixtures==6.17.1
toml==0.10.2
urllib3==1.26.3
wrapt==1.12.1
